@model List<Faculties>
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-controller="Home" asp-action="Index">Home</a>
		</li>
		<li class="breadcrumb-item">Index</li>
	</ol>
</nav>
<div class=" container">
    <div class="col-xl-12 col-md-12 col-sm-12 d-flex justify-content-start">
		<a type="button" class="btn btn-primary" asp-action="Create" asp-controller="Faculties"><span class="fas fa-plus"></span> Agregar Facultad</a>
	</div>
	<div class=" col-xl-12 col-md-12 col-sm12"> 
		<table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Faculties faculties in Model)
                {
                    <tr>
                        <td>@faculties.Id</td>
                        <td>@faculties.Name</td>
                        <td>@faculties.Correo</td>
                        <td>@faculties.Description</td>
                        <td>@(faculties.IsActive ? "Activo" : "Inactivo")</td>
                    </tr>
                
                }
            </tbody>
        </table>
	</div>
</div>
